
@{
    ViewBag.Title = "Index";
}


@if (ViewBag.displayMenu == "Yes")
{
    <h2>Index</h2>

    <table>
        <tbody>
            <tr>
                <p>
                    @Html.ActionLink("View Inventory", "../Inventory/Index", "Inventory", null)
                </p>
            </tr>
            <tr>
                <p>
                    @Html.ActionLink("View Articles", "../Admin/Articles", "Admin", null)
                </p>
            </tr>
            <tr>
                <p>
                    @Html.ActionLink("Add Article", "Add", "User", null)
                </p>
            </tr>
        </tbody>
    </table>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) . Please login to view this page! </h2>
}
